@import "variables";

.content {
  position: relative;

  .wiki-content, .meta-content {
    position: relative;
    max-width: $horizontal;
    margin: 0 auto;

    .actions {
      position: absolute;
      // float: right;
      z-index: 100;
      right: 0;
      font-size: 80%;

      a.history, a.edit {
        display: inline-block;
        margin-left: 1em;
      }

      a.json {
        display: none;
      }
    }

    .information {
      // color: $unimportant;
      // text-align: right;
      // font-size: 80%;
      display: none;
    }
  }

  $home-image-width: 200px;
  $home-image-padding: $home-image-width / 8;

  h1 {
    margin: 0 0 (0.3em * $whitespace) 0;
    padding: 0;
    max-width: 80%;

    &.wiki-Home {
      display: none;
    }
  }

  h2 {
    border-top: 1px solid $unimportant;
    margin-top: 1em;
    padding-top: 1em;
  }

  p, li {
    line-height: 150%;
  }

  .wiki-content {
    table {
      thead {
        font-weight: bold;
        text-align: left;
      }
    }
  }

  .wiki-Home, .wiki-Our_Groups {
    position: relative;

    h2 {
      border: 0;
      margin: 0 0 (0.5em * $whitespace) 0;
      padding: 0;
      text-align: center;
    }

    h3 {
      border-top: 1px solid $unimportant;
      margin: 0;
      margin-top: 0.5em * $whitespace;
      padding: 0;
      padding-top: 0.5em * $whitespace;
      font-size: 150%;
      text-indent: $home-image-width + $home-image-padding;
      width: 100%;

      img {
        position: absolute;
        left: 0;
        width: $home-image-width;
        max-width: initial;
        margin-bottom: 3em;
      }
    }

    h3:first-of-type {
      border: 0;
      padding-top: 0;
    }

    h3 ~ p {
      margin-left: $home-image-width + $home-image-padding;
    }
  }

  .wiki-Our_Supporters, .wiki-Get_Involved {
    h3 {
      display: inline-block;
      width: 32%;
      vertical-align: bottom;
      text-align: center;

      img {
        margin: 0 auto 1em auto;
        max-width: 100%;
        max-height: 100px;
      }

      a {
        text-align: center;
        font-size: 80%;
        display: block;
      }
    }
  }

  .wiki-Home {
    padding-bottom: (1em * $whitespace);

    h3 {
      font-size: 110%;
    }
  }

  .wiki-Naming_New_Zealand,
  .wiki-School_s_Out,
  .wiki-Tranzform,
  .wiki-Wellington_Binder_Exchange {
    img:first-of-type {
      float: right;
      margin: 0 0 1em 1em;
      max-width: 250px;
      max-height: 200px;
    }
  }
}
