@import "variables";

/* footer */
.wiki-Special_Footer, .wiki-Special_Other_Links {
  clear: both;

  margin: 0 auto;
  width: 100%;
  max-width: ($horizontal * 0.95);
  font-size: 90%;
}

$columns: 3;
$column-width: (100% / $columns);

.wiki-Special_Footer {
  height: 8em + (3em * $whitespace);
  padding: 0;
  position: relative;

  @media (max-width: $tablet) {
    height: auto;
  }

  h3 {
    margin: 0;
    width: $column-width;

    /* hack columns */
    position: absolute;
    top: (1em * $whitespace);

    &:nth-of-type(1) {
      left: 0;
    }
    &:nth-of-type(2) {
      left: 1 * $column-width;
      @media (max-width: $tablet) {
        left: 0;
      }
    }
    &:nth-of-type(3) {
      left: 2 * $column-width;
      @media (max-width: $tablet) {
        left: 0;
      }
    }

    @media (max-width: $tablet) {
      width: 100%;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      position: relative;
      top: auto;
      left: auto;
    }
  }

  ul {
    width: $column-width;

    list-style: none;
    padding: 0;
    margin: 0;

    /* hack columns */
    position: absolute;
    top: 3em + (1em * $whitespace);

    &:nth-of-type(1) {
      left: 0;
    }
    &:nth-of-type(2) {
      left: 1 * $column-width;
      @media (max-width: $tablet) {
        left: 0;
      }
    }
    &:nth-of-type(3) {
      left: 2 * $column-width;
      @media (max-width: $tablet) {
        left: 0;
      }
    }

    li {
      line-height: 100% + (50% * $whitespace);
    }

    @media (max-width: $tablet) {
      width: 100%;
      position: relative;
      top: auto;
      left: auto;
    }
  }

  h4 {
    clear: both;
  }
}

.wiki-Special_Other_Links {
  @media (max-width: $tablet) {
    margin-top: 2em;
  }

  ul, p {
    font-size: 80%;
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: (0.5em * $whitespace);
    margin-bottom: (0.5em * $whitespace);

    li {
      display: inline-block;
      margin: 0 1em 0 0;
      padding: 0;
    }
  }
}
