@import "variables";

/* header, navigation */
.wiki-Special_Header {
  clear: both;
  float: none;
  width: 100%;
  max-width: ($horizontal * 1.1);
  margin: 0 auto;
  padding-bottom: 0.5em * $whitespace;

  h2 {
    display: block;
    margin: 0;
    padding: 0.3em * $whitespace;
    line-height: 100%;

    a {
      display: block;
      margin: 0 auto;
      width: 16em;
      height: 1.2em;
      text-align: center;
      line-height: 2em;
      font-size: 150%;
      text-decoration: none;

      // if replacing with an image
      // text-indent: -900em;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h3 {
    display: block;
    margin: 0;
    padding: 0.3em * $whitespace;
    line-height: 100%;
    text-align: center;

    a {
      display: block;
      height: 2em;
      line-height: 1em;
    }
  }

  h4 {
    display: none;
  }

  /* navigation */
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    li {
      margin: 0;
      padding: 0;
      text-align: center;

      display: inline-block;

      /* 6 columns */
      width: 16%;
      max-width: 16%;
    }
  }

  input[type=text] {
    width: 100%;
  }
}
