@import "variables";

/* header, navigation */
.wiki-Special_Header {
  clear: both;
  float: none;
  width: 100%;
  max-width: ($horizontal * 1.1);
  margin: 0 auto;
  padding-bottom: 0.5em * $whitespace;

  @media (max-width: $tablet) {
    padding-bottom: 0;
  }

  h2 {
    display: block;
    line-height: 100%;
    text-align: center;
    margin: 0;
    padding: 0.3em * $whitespace;
    padding-top: 0.7em * $whitespace;

    a {
      font-size: 150%;
    }

    em {
      font-style: normal;
    }

    @media (max-width: $tablet) {
      padding-top: 0.5em * $whitespace;

      em {
        display: none;
      }
    }
  }

  h3 {
    display: block;
    margin: 0;
    padding: 0.3em * $whitespace;
    line-height: 100%;
    text-align: center;

    a {
      display: block;
      height: 2em;
      line-height: 1em;
    }

    @media (max-width: $tablet) {
      padding: 0;
    }
  }

  h4 {
    display: none;
  }

  /* navigation */
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    @media (max-width: $tablet) {
      display: none;
    }

    li {
      margin: 0;
      padding: 0;
      text-align: center;

      display: inline-block;

      /* 6 columns */
      width: 16%;
      max-width: 16%;
    }
  }

  input[type=text] {
    width: 100%;
  }
}
